.el2
{
   height: 100px;
   width: 100px;
   background: #17ac2b;
}
.size{
    margin-left: 100px;
    height: 100px;
    width: 100px;
    background: #ff9da2;
 }
 .color
 {
    background: #656ba6;
 }
 .shape
 {
    border-radius: 50px;
 }
